html {
    font-size: 20px;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    aspect-ratio: 1/1;
}

.rem {
    height: 1rem;
    background-color: var(--color-red);
    font-size: 0.25rem;
}

.px {
    height: 16px;
    background-color: var(--color-yellow);
    font-size: 4px;
}
